<!DOCTYPE html>
<html>
  <head>
    <title>Live Statistics</title>
  </head>
  <body>
    <p> {
			"aVotes": <%= numA %>,
			"bVotes": <%= numB %>,
			"cVotes": <%= numC %>,
			"dVotes": <%= numD %>,
			"eVotes": <%= numE %>,
			"numVotes": <%= numVotes %>
		}
	</p>
  </body>
</html>
